<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo reference="base_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Gray</material>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="slide_right">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Black</material>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="slide_left">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Black</material>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="joint_right">
    <implicitSpringDamper>True</implicitSpringDamper>
  </gazebo>
  <gazebo reference="joint_left">
    <implicitSpringDamper>True</implicitSpringDamper>
  </gazebo>

</robot>
