SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6014", ATTRS{serial}=="FT3M9MV7", MODE="0666", SYMLINK+="wrs/arm_right"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6014", ATTRS{serial}=="FT2MZYQN", MODE="0666", SYMLINK+="wrs/arm_left"
