<?xml version="1.0" ?>
<launch>
  <arg name="robot_x"   default="0.0" />
  <arg name="robot_y"   default="0.0" />
  <arg name="robot_yaw" default="0.0" />
  <arg name="prefix"    value="" />   <!-- this has to be "value", not "default", otherwise subst_value doesn't work -->

  <!-- Load URDF -->
  <include file="$(find mir_description)/launch/upload_mir_urdf.launch" />

  <!-- Spawn the robot into Gazebo -->

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model mir
    -x $(arg robot_x) -y $(arg robot_y) -Y $(arg robot_yaw) " />
</launch>
